body{
    background: rgb(4,73,199);
    background: linear-gradient(0deg, rgba(4,73,199,0.8606793059020483) 37%, rgba(238,76,197,0.8746849081429446) 78%);
}


.navbar{
    border-bottom: 1px solid #dadce0;
    background-color: white;
}


.card{
    float: left;
    margin: 5px;
}
.card img{
    height: 260px;
    object-fit: cover;
}
.card-body{
    height: 150px;
}
.card-okvir{
    min-height: 600px;
}


h2{
    font-size: 30px !important;
    margin: 0px !important;
}
h3{
    font-family: Soleil,Helvetica,Arial,sans-serif;
    font-size: 50px !important;
    font-weight: 500 !important;
    text-shadow: 3px 3px 3px  #eeeeee;
}


.btn {
    color: #04b4d4 !important;
}
.btn:hover{
    /*ovo je onaj sta ne radi*/
    background-color: rgba(238,76,197,0.8746849081429446) !important;
    color: white !important;
}


#izbornik{
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.izbornik{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


#najpopularniji{
    padding-bottom: 50px;
    height: auto;
}
#najpopularniji.row{
    margin: none;
}


#najnoviji{
    padding-bottom: 50px;
    height: auto;
}
#najnoviji.row{
    margin-top: none;
}


