.card{
    float: left;
    margin: 5px;
}

.card img{
    height: 260px;
    object-fit: cover;
}

.card-body{
    height: 150px;
}

.navbar{
    border-bottom: 1px solid #dadce0;
    background-color: white;
}

.card-okvir{
    min-height: 600px;
}

h1{
    font-family: Soleil,Helvetica,Arial,sans-serif;
    position: relative;
    top: 35%;
}

h2{
    font-size: 30px !important;
    margin: 0px !important;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px !important;
    font-weight: 500 !important;
}
