body{
    background: rgb(4,73,199);
    background: linear-gradient(0deg, rgba(4, 72, 199, 0.363) 37%, rgba(238, 76, 197, 0.356) 78%);
}


.navbar{
    border-bottom: 1px solid #dadce0;
    background-color: white;
}
.navbar .btn{
    border: 1px solid #04b4d4 !important;
}


.card{
    float: left;
    margin: 5px;
}
.card img{
    height: 260px;
    object-fit: cover;
}
.card-body{
    height: fit-content;
}
.card-okvir{
    min-height: 600px;
}
.card-title{
    height: auto;
}


h2{
    font-size: 30px !important;
    margin: 0px !important;
}
h3{
    font-family: Soleil,Helvetica,Arial,sans-serif;
    font-size: 50px !important;
    font-weight: 500 !important;
    text-shadow: 3px 3px 3px  #eeeeee;
}


.btn {
    color: #04b4d4 !important;
}
.btn:hover{
    background-color: rgba(238,76,197,0.8746849081429446) !important;
    color: white !important;
}


#izbornik{
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.izbornik{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


#najpopularniji{
    padding-bottom: 50px;
    height: auto;
}
#najpopularniji.row{
    margin: none;
}


#najnoviji{
    padding-bottom: 50px;
    height: auto;
}
#najnoviji.row{
    margin-top: none;
}